---
interface Props {
  image: string;
  classes: string;
  margin?: string;
}

const { image, classes, margin } = Astro.props;
---

<div class={`flex justify-center ${margin}`}>
  <a
    aria-label="Chat on WhatsApp"
    href="https://wa.me/84368318072"
    target="_blank"
    class="w-fit"
  >
    <img alt="Chat on WhatsApp" src={image} class={classes} />
  </a>
</div>
