---
interface Props {
  text?: string;
}

const { text = "Skontaktuj się z nami" } = Astro.props;
---

<div
  class="flex flex-col gap-8 items-center mt-16 lg:mt-24 border-t-[1px] border-gray-200 pt-16"
>
  <div class="text-xl text-center">{text}</div><a
    href="/kontakt"
    class="bg-rose-500 hover:bg-emerald-500 transition-colors px-4 py-2 rounded-lg text-white"
    >Napisz do nas</a
  >
</div>
