---
interface Props {
  textEn?: string;
  textPl?: string;
  buttonTextEn?: string;
  biuttonTextPl?: string;
}

import { getLangFromUrl } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);

const { textPl = "Skontaktuj się z nami", textEn = "Contact Us", biuttonTextPl="Napisz do nas", buttonTextEn="Write to Us"  } = Astro.props;
---

<div
  class="flex flex-col gap-8 items-center mt-16 lg:mt-24 border-t-[1px] border-gray-200 pt-16"
>
  <div class="text-xl text-center">{lang === "en" ? textEn : textPl}</div><a
    href={lang === "en" ? "/en/contact" : "/pl/kontakt"}
    class="bg-rose-500 hover:bg-emerald-500 transition-colors px-4 py-2 rounded-lg text-white"
    >{lang === "en" ? buttonTextEn : biuttonTextPl}</a
  >
</div>
