---
import navLinks from "../utils/nav-links";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = "/" + pathname.slice(1);
import { languages } from '../i18n/ui';
---

<ul class="lg:flex items-center gap-6 hidden">
  {
    navLinks.map((link) => (
      <li>
        <a
          href={link.url}
          class={`font-medium tracking-wide drop-shadow-sm ${
            currentPath.indexOf(link.url) > -1 ? "text-rose-500" : ""
          }`}
        >
          {link.title}
        </a>
      </li>
    ))
  }
  {Object.entries(languages).map(([lang, label]) => (
    <li>
      <a href={`/${lang}/`}>{label}</a>
    </li>
  ))}
</ul>
