---
const skills = [
  {
    title: "Wycieczki dopasowane do potrzeb",
    text: "Nasza butikowa firma stawia na indywidualne podejście. Wysłuchamy Twoich marzeń i potrzeb, proponując wycieczkę idealnie dostosowaną do Ciebie. Jesteśmy otwarci na sugestie i gotowi dostosować się tak, aby spełnić Twoje oczekiwania.",
  },
  {
    title: "Wyjątkowe przeżycia",
    text: "Nie ograniczamy się do standardów. Dążymy do tego, aby każda z naszych wycieczek była unikalna, a Twoje doświadczenia autentyczne i niezapomniane. Poznawaj lokalne społeczności, odkrywaj mniej znane zakątki i przeżywaj chwile, które wyróżniają się na tle innych ofert rynkowych.",
  },
  {
    title: "Przystępna cena",
    text: "Jako butikowa agencja nie mamy wysokich kosztów stałych, dlatego możemy dostosować się do Twojego budżetu, oferując najlepszą jakość w atrakcyjnej cenie. Zapytaj nas o propozycję - to nic nie kosztuje!.",
  },
  {
    title: "Zrównoważona turystyka",
    text: "Dbamy o odpowiedzialny turystykę. Współpracując z lokalnymi dostawcami i społecznościami, promujemy rozwój regionu, nie wspierając przy tym wielkich korporacji turystycznych. Wybierając nas, inwestujesz w autentyczne doświadczenia i pomagasz lokalnym społecznościom prosperować.",
  },
];
---

<div class="mt-16 lg:mt-24 flex flex-col gap-16">
  <div class="flex flex-col gap-8 text-center md:w-2/3 md:mx-auto">
    <h2 class="text-4xl font-semibold">Dlaczego my?</h2>
    <p>
      Nie oferujemy szablonowych podróży. Tworzymy wycieczki skrojone dokładnie
      pod Ciebie, dostosowane do Twoich zainteresowań i preferencji. U nas
      zyskasz pełną elastyczność - podróżujesz w swoim tempie, a my dopasowujemy
      program do Twoich potrzeb, a nie odwrotnie.
    </p>
    <p>
      Co więcej, gwarantujemy atrakcyjne ceny. Jako butikowa agencja nie
      obciążamy się zbędnymi kosztami, co przekłada się na konkurencyjne oferty
      dla Ciebie. Sprawdź nas! Zapytanie nic Cię nie kosztuje.
    </p>
  </div>

  <div class="grid md:grid-cols-2 gap-8 lg:gap-16">
    {
      skills.map((skill) => (
        <div class="text-center md:text-left flex flex-col gap-4">
          <h3 class="text-2xl font-semibold">{skill.title}</h3>
          <p>{skill.text}</p>
        </div>
      ))
    }
  </div>
</div>
