---
import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
import widgets from "../data/widgets.json";
const langSkills = `skills_${lang}`;
---

{
  widgets[langSkills as keyof typeof widgets].map((skill) => (
    <div class="text-center md:text-left flex flex-col gap-4">
      <h3 class="text-2xl font-semibold">{skill.title}</h3>
      <p>{skill.text}</p>
    </div>
  ))
}
