---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const allTrips = await getCollection("widgets", ({ id }) => {
  return id.startsWith("trips");
});
const sortedTrips = allTrips.sort((a, b) => a.data.sort - b.data.sort);
---

<div class="grid sm:grid-cols-2 gap-y-4 sm:gap-x-4 lg:gap-x-8 mt-16 lg:mt-24">
  {
    sortedTrips.map((trip) => (
      <div>
        <h3>{lang === "en" ? trip.data.en.title : trip.data.pl.title}</h3>
        <Image src={trip.data.image} alt={trip.data.en.title} />
        <p>{lang === "en" ? trip.data.en.text : trip.data.pl.text}</p>
        {console.log(trip)}
      </div>
    ))
  }
</div>
